@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $Poppins;
    color:  $light;
    background-color: $bg-dark;
}

#root {
    height: 100%;
}