.msgContainer {
    // width: ;
    padding: 10px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 181, 88);
    font-size: 20px;
    border-radius: 10px;
}