@import "../../styles/variables.scss";

.content {
    // margin: 20px;
    position: relative;
    margin-top: 0px;

    // background-color: $bg;
    &__notification {
        position: absolute;
        right: 10px;
        top: 5px;
    }
    &__form {
        margin: 0 5px;

        &__qrResult {
            overflow: scroll;
        }
    }
    &__sliderContainer{
        padding: 0px 25px;
    }
    // &__qrCodeScanner{
    //     // background-color: aqua;
    //     // margin: 'auto';
    //     // width: 600px;
    // }
}

.btnSubmit {
    background-color: $btnsubmit;
    color: $light;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-family: $Poppins;
    border: none;
}

.btnDelete {
    background-color: $btndelete;
    color: $light;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-family: $Poppins;
    border: none;
}

.inputForm {
    padding: 13px 15px;
    border: none;
    background-color: $btnsubmit;
    color: white;
}